<div class="container mt-3">
<!--    <div style="background-color: lightyellow; padding: 10px; border-radius: 10px;">-->
<!--        <a href="/home"><img src="img/back.png" class="rounded" width="50px" height="50px" style="display: inline-block;"></a>-->
<!--        <h1 style="display: inline-block;" class="text-center">Научи ја азбуката</h1>-->
<!--    </div>-->

    <div class="row">
        <div class="col">
            <img id="a" src="img/letters/а.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_a" src="audio/a.m4a"></audio>
        </div>
        <div class="col">
            <img id="b" src="img/letters/b.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_b" src="audio/b.m4a"></audio>
        </div>
        <div class="col">
            <img id="v" src="img/letters/v.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_v" src="audio/v.m4a"></audio>
        </div>
        <div class="col">
            <img id="g" src="img/letters/g.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_g" src="audio/g.m4a"></audio>
        </div>
        <div class="col">
            <img id="d" src="img/letters/d.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_d" src="audio/d.m4a"></audio>
        </div>
        <div class="col">
            <img id="gj" src="img/letters/gj.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_gj" src="audio/gj.m4a"></audio>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col">
            <img id="e" src="img/letters/e.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_e" src="audio/e.m4a"></audio>
        </div>
        <div class="col">
            <img id="zh" src="img/letters/zh.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_zh" src="audio/zh.m4a"></audio>
        </div>
        <div class="col">
            <img id="z" src="img/letters/z.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_z" src="audio/z.m4a"></audio>
        </div>
        <div class="col">
            <img id="dz" src="img/letters/dz.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_dz" src="audio/dz.m4a"></audio>
        </div>
        <div class="col">
            <img id="i" src="img/letters/i.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_i" src="audio/i.m4a"></audio>
        </div>
        <div class="col">
            <img id="j" src="img/letters/j.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_j" src="audio/j.m4a"></audio>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col">
            <img id="k" src="img/letters/k.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_k" src="audio/k.m4a"></audio>
        </div>
        <div class="col">
            <img id="l" src="img/letters/l.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_l" src="audio/l.m4a"></audio>
        </div>
        <div class="col">
            <img id="lj" src="img/letters/lj.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_lj" src="audio/lj.m4a"></audio>
        </div>
        <div class="col">
            <img id="m" src="img/letters/m.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_m" src="audio/m.m4a"></audio>
        </div>
        <div class="col">
            <img id="n" src="img/letters/n.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_n" src="audio/n.m4a"></audio>
        </div>
        <div class="col">
            <img id="nj" src="img/letters/nj.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_nj" src="audio/nj.m4a"></audio>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col">
            <img id="o" src="img/letters/o.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_o" src="audio/o.m4a"></audio>
        </div>
        <div class="col">
            <img id="p" src="img/letters/p.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_p" src="audio/p.m4a"></audio>
        </div>
        <div class="col">
            <img id="r" src="img/letters/r.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_r" src="audio/r.m4a"></audio>
        </div>
        <div class="col">
            <img id="s" src="img/letters/s.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_s" src="audio/s.m4a"></audio>
        </div>
        <div class="col">
            <img id="t" src="img/letters/t.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_t" src="audio/t.m4a"></audio>
        </div>
        <div class="col">
            <img id="kj" src="img/letters/kj.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_kj" src="audio/kj.m4a"></audio>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col">
            <img id="u" src="img/letters/u.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_u" src="audio/u.m4a"></audio>
        </div>
        <div class="col">
            <img id="f" src="img/letters/f.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_f" src="audio/f.m4a"></audio>
        </div>
        <div class="col">
            <img id="h" src="img/letters/h.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_h" src="audio/h.m4a"></audio>
        </div>
        <div class="col">
            <img id="c" src="img/letters/c.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_c" src="audio/c.m4a"></audio>
        </div>
        <div class="col">
            <img id="ch" src="img/letters/ch.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_ch" src="audio/ch.m4a"></audio>
        </div>
        <div class="col">
            <img id="dzh" src="img/letters/dzh.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_dzh" src="audio/dzh.m4a"></audio>
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col">
            <img id="sh" src="img/letters/sh.png" alt="Test" class="rounded" width="125px" height="125px">
            <audio id="audio_sh" src="audio/sh.m4a"></audio>
        </div>
    </div>

    <script>
        let arr = document.getElementsByTagName("img");

        for (const el of arr) {
            if(el.id===undefined || el.id==="")
                continue;

            document.getElementById(el.id).addEventListener("click", function(){
                document.getElementById('audio_'+el.id).play();
            });
        }
    </script>
</div>