<div class="container mt-3">
    <div style="background-color: #034078; color:white; padding: 10px; border-radius: 10px;" class="row mb-4">
        <h1 class="text-center">Помош</h1>
    </div>

    <div style="background-color: #EFFFC8; padding: 20px; font-size: 16pt; border-radius: 10px;" class="row">
        <p class="text-center">
            Апликацијата „Дислексикон“ е наменета да им помогне на децата со дислексија.<br>
            Се состои од повеќе нивоа и секое од нив придонесува за развојот на способностите за читање, пишување и разбирање.<br>
            Секој одговор е поддржан со звук, така што доколку детето не може да прочита нешто, може да го слушне.<br>
        </p>

        <div class="row justify-content-center mt-5 mb-2">
            <div class="col-7 col-lg-4">
                <img src="img/qrCode.png" class="mx-auto d-block" width="200px" height="200px">
            </div>
        </div>
        <p class="text-center">Дознајте повеќе за дислексијата со скенирање на кодот</p>
    </div>

</div>