<div class="container">
    <h1 class="text-center">Помош</h1>

    <p class="text-center">
        Апликацијата „Дислексикон“ е наменета да им помогне на децата со дислексија.<br>
        Се состои од повеќе нивоа и секое од нив придонесува за развојот на способностите за читање, пишување и разбирање.<br>
        Секој одговор е поддржан со звук, така што доколку детето не може да прочита нешто, може да го слушне.<br>
    </p>

    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-4">
            <img src="img/ikona.png" class="mx-auto d-block" width="100px" height="100px">
        </div>
    </div>
    <p class="text-center">Дознајте повеќе за дислексијата со скенирање на кодот</p>

</div>