<div class="container">
    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-12">
            <img src="img/ikona.png" alt="App Icon" class="rounded mx-auto d-block" width="125px" height="125px">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <h1 class="text-center">Дислексикон</h1>
    </div>

    <div class="row justify-content-center">
        <a href="/learnAlphabet" class="btn btn-lg btn-primary col-10 col-lg-4 mb-3">Научи ја азбуката</a>
    </div>
    <div class="row justify-content-center">
        <a href="/guessTheWord" class="btn btn-lg btn-primary col-10 col-lg-4 mb-3">Слико - Збор</a>
    </div>
    <div class="row justify-content-center">
        <a href="/questions" class="btn btn-lg btn-primary col-10 col-lg-4 mb-3">Прашања</a>
    </div>
    <div class="row justify-content-center">
        <a href="/riddles" class="btn btn-lg btn-primary col-10 col-lg-4 mb-3">Загатки</a>
    </div>
    <div class="row justify-content-center">
        <a href="/math" class="btn btn-lg btn-primary col-10 col-lg-4 mb-3">Броеви</a>
    </div>
    <div class="row justify-content-center">
        <a href="/help" class="btn btn-lg btn-primary col-10 col-lg-4 mb-3">Помош</a>
    </div>
</div>