<div class="container">
    <h1 class="text-center">Броеви</h1>

    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-4">
            <button type="button" class="btn btn-lg btn-warning w-100">5 + 2 = ?</button>
        </div>
    </div>

    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-2">
            <button type="button" class="btn btn-lg btn-info btn-default w-100">3</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-lg btn-info btn-default w-100">7</button>
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-2">
            <button type="button" class="btn btn-lg btn-info btn-default w-100">5</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-lg btn-info btn-default w-100">4</button>
        </div>
    </div>

    <div class="row justify-content-end mt-5">
        <div class="col-2">
            <button class="col-2 btn btn-lg btn-primary w-100">Следно (skip)</button>
        </div>
    </div>

</div>