<div class="container mt-3">
    <div style="background-color: #034078; color:white; padding: 10px; border-radius: 10px;" class="row mb-4">
        <h1 class="text-center">Слико-збор</h1>
    </div>
    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-12">
            <img src="img/ikona.png" id="picture" class="rounded mx-auto d-block" width="300px" height="300px">
        </div>
    </div>
    <div class="row justify-content-center mt-1 mb-2">
        <div class="col-12">
            <img id="pictureAudio" src="img/audio.png" class="rounded mx-auto d-block" width="50px" height="50px">
            <audio id="audio_picture" src="audio/hint.m4a"></audio>
        </div>
    </div>

    <form>
    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-11 col-lg-4">
            <div class="input-group">
                <input id="inputAnswer" type="text" class="form-control" placeholder="Внеси го името на предметот...">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-2">
        <button type="submit" class="col-10 col-lg-2 btn btn-lg btn-primary" id="submit">Готово</button>
    </div>
    </form>


    <div class="row justify-content-center mt-3 mb-2">
        <div class="col col-lg-1 text-center">
            <img id="exclamation" src="img/exclamation.png" class="rounded mx-auto" width="75px" height="75px">
            <audio id="audio_exclamation" src="audio/hint.m4a"></audio>
        </div>
        <div class="col col-lg-1 text-center">
            <img id="questionMark" src="img/question.png" class="rounded mx-auto" width="75px" height="75px">
            <audio id="audio_questionMark" src="audio/questionMark.m4a"></audio>
        </div>
    </div>

    <audio id="audio_correct" src="audio/correctAnswer.m4a"></audio>
    <audio id="audio_wrong" src="audio/wrongAnswer.m4a"></audio>


    <!-- Correct Modal -->
    <div class="modal fade" id="correctModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Точен одговор!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Wrong Modal -->
    <div class="modal fade" id="wrongModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Погрешен одговор!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Обидете се повторно или побарајте помош со клик на копчето со знакот „!“
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Show Answer Modal -->
    <div class="modal fade" id="hintModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Помош</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="hintText">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    img:hover {
        cursor: pointer;
    }
</style>

<script>
    const apiURL = "http://localhost:8080/api/pictureWord";
    let arrImg;
    let index = 0;
    let clickCounter = 0;

    $.ajax({
        url: apiURL,
        contentType: "application/json",
        dataType: 'json',
        success: function(result){
            arrImg = result;
            nextPicture();
        }
    });

    function checkAnswer() {
        let input = document.getElementById("inputAnswer").value.toLowerCase();
        let answer = arrImg[index].title.toLowerCase();

        if(input===answer){
            index++;
            clickCounter = 0;
            document.getElementById("audio_correct").play();
            document.getElementById("inputAnswer").value = "";
            $('#correctModal').modal('toggle');
            nextPicture();
        }else {
            document.getElementById("audio_wrong").play();
            $('#wrongModal').modal('toggle');
        }
    }

    function nextPicture() {
        if(index>=arrImg.length) {
            index=0;
        }

        document.getElementById("picture").src = arrImg[index].imagePath;
        document.getElementById("audio_picture").src = arrImg[index].audioPath;
    }

    document.getElementById("submit").addEventListener("click", function (e) {
        e.preventDefault();
        checkAnswer();
    });
    document.getElementById("pictureAudio").addEventListener("click", function(){
        document.getElementById('audio_picture').play();
    });
    document.getElementById("questionMark").addEventListener("click", function(){
        document.getElementById('audio_questionMark').play();
    });
    document.getElementById("exclamation").addEventListener("click", function(){
        if(clickCounter<1) {
            document.getElementById('audio_exclamation').play();
        }else {
            let answer = arrImg[index].title;

            document.getElementById("hintText").innerHTML = "Точниот одговор е: " + answer;
            $("#hintModal").modal("toggle");
        }
        clickCounter++;
    });
</script>