<div class="container">
    <h1 class="text-center">Загатки</h1>

    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-4">
            <button type="button" class="btn btn-lg btn-warning w-100">Висока сум кога сум млада,
                ниска сум кога сум стара. Што сум јас?</button>
        </div>
    </div>

    <div class="row justify-content-center mt-5 mb-2">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Внеси го одговорот...">
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <button class="col-2 btn btn-lg btn-primary">Готово</button>
    </div>

    <div class="row justify-content-end mt-5">
        <div class="col-2">
            <button class="col-2 btn btn-lg btn-primary w-100">Следно (skip)</button>
        </div>
    </div>

</div>